@import "variables";
@import "layout";
@import "normalize";

.nav-bar{
    
    width: 100%;
    height: 35px;
}

.responsive {

    width: 100%;
    height: auto;
}

label{
    padding: 0;
}

.menu-hamburguesa{
    display: none;
    text-align: center;
    
    .fa-bars{
     color: white;
    }
 }

#check{
    display: none;
 }

.snap-x {
    scroll-snap-type: x mandatory;
    
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.snap-start {
  scroll-snap-align: start;
}



@media only screen and (max-width: 640px) {
    ul {
      display: none;
    }

    .menu-hamburguesa{
        display: block;
        float: right;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
    }

    #check:checked + ul {
        display: block;
        width: 100%;
        li{
            text-align: center;
        }
        
    }
}